
.navbarStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Helvetica;
    font-size: 20px;
    
    /* background-color: #333; */
    background-color:  #050438;
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color: rgb(233, 233, 233);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  